$primary-font: "Josefin Sans", sans-serif;
$first-color: #1b1464;
$second-color: #0057a3;
$third-color: #1b1464;
$grey-bg-color: #f5f5f5;
$desktop: 1200px;
$sm-desktop: 1199px;
$ipad-pro: 1024px;
$ipad: 990px;
$mobile: 767px;
